.DS_Store
.idea
*.log
tmp/

binaries/
.ccls-cache/
.ccls/
minicom.cap
xinu/compile/.defs
xinu/compile/.vers_num
xinu/compile/version
xinu/compile/xinu.elf
xinu/compile/xinu.map
xinu/compile/.*
xinu/temp/*
xinu/compile/mini_out.txt
